.bottone{
    background-color: #240202;
    padding: 14px 33px;
    
}
.bottone a{
    font-family: Merriweather;
    font-size: 35px;
    color: #ffffff;
    text-decoration: none;

}
.bottone a::after{
    content: "";
    height: 34px;
    width: 28px;
    background-image: url(https://www.svgrepo.com/show/60156/right-arrow.svg);
    display: block;
    color: #ffffff;
    background-size: 28px 34px ;
background-repeat: no-repeat ;
background-position: calc(100% - 28px) center;
}