.bottone{
    color: white;
    background: #240202;
    padding: 14px 33px;
    text-decoration: none;
    display: block;
    font-size: 35px;
    line-height: 50px;
    position: relative;

    
}
.bottone a{
    font-family: Merrywheater;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 35px;

}
.bottone::after{
    content: "";
    height: 34px;
    width: 28px;
    background-image: url("../img/freccia.svg");
    display: block;
    color: white;
    background-size: 28x 34px ;
    position: absolute;
    transform: translate(-50%);
    right: 21px;
    top: 22px;
}