ul{
    counter-reset: listItem;
    list-style: none;
    font-family: Merriweather;
    font-size: 22px;
  }
  
  li:before {
    color: #707070;
    content: "0" counter(listItem)".";
    counter-increment: listItem;
    font-size: 70px;
    
  }
  .button-list{
    color:#FF0000 ;
  }
  .paragrafo-lista{
    border-top: #707070 solid 1px;
    color: #707070;
  }
  .lista{
    margin-top: 104px;
    margin-bottom: 147px;
  }
  li{
    margin-top: 100px;
  }